/* a bit more than “small” */
img.logo {
	max-width: 20%;
	vertical-align: middle;
}

/*layout fix*/
html {
	background-color: white;
}

.mdl-layout__content {
	display: flex;
	flex-direction: column;
}

.page-content {
	flex-grow: 1;
}

/*hljs*/
.hljs {
	display: initial;
	padding: initial;
}
pre > code.hljs {
	display: block;
	padding: .5rem;
}

/* custom stuff */
h1, h2, h3, h4, h5, h6 {
	color: #673AB7;
	font-weight: 300;
}

h1 {
	font-weight: 100;
}

.section--center {
	max-width: 620px;
}

.step {
	text-decoration: none;
	text-transform: uppercase;
	height: 56px;
	white-space: nowrap;
	overflow: visible;
}

figure.mdl-card {
	width: auto;
	max-width: 100%;
	margin: 16px auto;
}

figure.mdl-card > .mdl-card__media {
	max-width:100%;
}