---
---

@import 'highlight';

output {
	font-style: italic;
}

#landing-title {
    margin-bottom: 12px;
    line-height: 1.2;
}
/* a bit more than “small” */
img.logo {
	max-width: 175px;
	vertical-align: middle;
    margin-bottom: 24px;
}

/*layout fix*/
html {
	background-color: white;
}

.mdl-layout__content {
	display: flex;
	flex-direction: column;
}

main, .mdl-card { display: flex }
.mdl-card__supporting-text { flex-grow: 1 }

.navigation-slash {
	pointer-events: none;
	width: 0;
	position: relative;
	left: -4px;
}

$article-width: 52rem;

.page-content {
	flex-grow: 1;
	margin: 0 auto;
	max-width: $article-width;
	width: 90%;
}


/*hljs*/
.hljs {
	display: initial;
	padding: initial;
}
pre > code.hljs {
	display: block;
	padding: .5rem;
}

/* custom stuff */
h1, h2, h3, h4, h5, h6 {
	color: #673AB7;
	font-weight: 300;
}

$arrow-width: 4px;

.steps {
	margin: 1em 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
	.step {
		text-decoration: none;
		text-transform: uppercase;
		height: 56px;
		white-space: nowrap;
		overflow: visible;
	}
	
	.arrow {
		flex-grow: 1;
		height: 2px;
		position: relative;
		background-color: black;
		margin: 0 calc(1em + #{$arrow-width}) 0 1em;
	}
	
	.arrow::after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		border-color: rgba(136, 183, 213, 0);
		border-left-color: black;
		border-width: $arrow-width;
		margin-top: -$arrow-width;
	}
}

$note-width: 30rem;
$note-pad: 1rem;

.faq {  //make FAQ entries smaller
	h2 {
		font-size: 28px;
		line-height: 34px;
	}
}

.card-note {
	width: auto;
	min-height: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #FFC107;
}

@media (min-width: $article-width + 2*$note-pad + $note-width/2) {
	
	.card-note {
		float: right;
		width: $note-width;
		margin-right: -$note-width - $note-pad;
		padding-top: $note-pad;
		padding-bottom: $note-pad;
	}
}

.card-panel {
	padding: 0 1em;
}

figure.mdl-card {
	width: auto;
	max-width: 100%;
	margin: 16px auto;
}

figure.mdl-card > .mdl-card__media {
	max-width:100%;
}
.nav-icon {
    padding-right: 4px;
}
.mobile-nav-icon {
    padding-right: 8px;
}
.seperator {
    border: 1px solid #E0E0E0;
    margin: 8px 0px;
}
.mega-octicon {
    font-size: 24px;
}