[submodule "IRkernel"]
	path = _includes/IRkernel
	url = https://github.com/IRkernel/IRkernel.git
[submodule "css/pygments-github-style"]
	path = css/pygments-github-style
	url = https://github.com/aahan/pygments-github-style.git
