<!doctype html>
<html>
<head>
<meta charset=utf-8>
<title>
	{% if page.title %} {{ page.title }} · {% endif %} IRkernel
</title>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel=icon href={{site.baseurl}}/images/irkernel-logo.svg type=image/svg+xml>
<link rel=stylesheet href=//cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.min.css></link>
<link rel=stylesheet href=//fonts.googleapis.com/icon?family=Material+Icons></link>
<link rel=stylesheet href=//fonts.googleapis.com/css?family=Roboto:100,300,400,700></link>
<link rel=stylesheet href=//storage.googleapis.com/code.getmdl.io/1.1.3/material.deep_purple-deep_orange.min.css></link>
<link rel=stylesheet href=//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/color-brewer.min.css></link>
<link rel=stylesheet href="{{site.baseurl}}/css/main.css"></link>
<script src=//storage.googleapis.com/code.getmdl.io/1.1.3/material.min.js></script>
<script src=//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js></script>
<script src=//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/languages/r.min.js></script>
<script src="{{site.baseurl}}/js/main.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
	tex2jax: {
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		processEscapes: true,
	}
})
</script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--overlay-drawer-button{% if page.class %} {{ page.class }}{% endif %}">
	<header class=mdl-layout__header>
		<div class=mdl-layout__header-row>
			<!-- Title -->
			<span class=mdl-layout-title><a href={{site.baseurl}}/ class="mdl-layout-title mdl-navigation__link">IRkernel</a></span>
			<!-- Add spacer, to align navigation to the right -->
			<div class=mdl-layout-spacer></div>
			<!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation desktop-nav">
				<a class=mdl-navigation__link href={{site.baseurl}}/docs/><i class="material-icons nav-icon">subject</i>Docs</a>
				<a class=mdl-navigation__link href={{site.baseurl}}/requirements/><i class="material-icons nav-icon">assessment</i>Requirements</a>
				<a class=mdl-navigation__link href={{site.baseurl}}/installation/><i class="material-icons nav-icon">file_download</i>Installation</a>
				<a class=mdl-navigation__link href={{site.baseurl}}/running/><i class="material-icons nav-icon">launch</i>Running</a>
				<a class=mdl-navigation__link href={{site.baseurl}}/faq/><i class="material-icons nav-icon">question_answer</i>FAQ</a>
			</nav>
		</div>
	</header>
	<aside class="mdl-layout__drawer mdl-layout--small-screen-only">
		<span class=mdl-layout-title>IRkernel Docs</span>
		<nav class=mdl-navigation>
			<a class=mdl-navigation__link href={{site.baseurl}}/docs/><i class="material-icons nav-icon">subject</i>Documentation</a>
			<a class=mdl-navigation__link href={{site.baseurl}}/requirements/><i class="material-icons mobile-nav-icon">assessment</i>Requirements</a>
			<a class=mdl-navigation__link href={{site.baseurl}}/installation/><i class="material-icons mobile-nav-icon">file_download</i>Installation</a>
			<a class=mdl-navigation__link href={{site.baseurl}}/running/><i class="material-icons mobile-nav-icon">launch</i>Running</a>
			<a class=mdl-navigation__link href={{site.baseurl}}/faq/><i class="material-icons mobile-nav-icon">question_answer</i>FAQ</a>
			<span class=separator></span>
			<a class=mdl-navigation__link href=https://github.com/IRkernel><i class="mega-octicon octicon-mark-github mobile-nav-icon"></i>IRkernel on GitHub</a>
			<a class=mdl-navigation__link href=https://github.com/IRkernel/IRdisplay><i class="mega-octicon octicon-mark-github mobile-nav-icon"></i>IRDisplay on GitHub</a>
			<a class=mdl-navigation__link href=https://github.com/IRkernel/repr><i class="mega-octicon octicon-mark-github mobile-nav-icon"></i>repr on GitHub</a>
		</nav>
	</aside>
	<main class="mdl-layout__content">
		<div class=page-content>
			<article>
				{{ content }}
			</article>
		</div>
		<footer class=mdl-mini-footer>
			<div class=mdl-mini-footer--left-section>
				<div class=mdl-logo>IRkernel</div>
				<ul class=mdl-mini-footer--link-list>
					<li><a href=https://github.com/takluyver>by Thomas Kluyver</a></li>
					<li><a href=https://github.com/flying-sheep>and Philipp A.</a></li>
					<li><a href=http://www.getmdl.io>Website powered by Material Design Lite</a></li>
				</ul>
			</div>
			<div class=mdl-mini-footer--right-section>
				A kernel for:&emsp;<img src={{site.baseurl}}/images/jupyter-logo.svg style=margin-top:-7px;margin-bottom:-8px><!-- (imgheight-lineheight)÷2 = (51-36)÷2 = 7.5-->
			</div>
		</footer>
	</main>
</body>
</html>
